/*BACKGROUND PICTURE*/

#forest {
    background-image: url("img/forest.jpg");
    width: 800px;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}


/* SHREK */

#shrek {
    height: 300px;
    position: absolute;
    bottom: 0;
    left: -200px;
}


/* DONKEY */

#donkey {
    height: 300px;
    position: absolute;
    bottom: 0;
    transform: translate(-200px);
}

/*APPLES*/

#apple1, #apple2, #apple3
 {
     height: 50px;
     width: 50px;
     position: absolute;
     top: 250px;
}

#apple1 {
    left: 30px;
}

#apple2{
    left: 100px;
}

#apple3{
    left: 170px;
}
.applescale{
    animation: applescale 1s infinite;
}
@keyframes applescale{
    0%,100%{
        height: 50px;
        width: 50px;
    }
    50%{
        height: 70px;
        width: 70px;
    }
}

.appleshake{
    animation: appleshake 1.5s infinite;
}
@keyframes appleshake{
    0%,100%{
        transform: rotate(0deg);
        height: 50px;
        width: 50px;
    }
    25%{
        transform: rotate(10deg);
        height: 70px;
        width: 70px;
    }
    50%{
        transform: rotate(0deg);
        height: 50px;
        width: 50px;
    }
    75%{
        transform: rotate(-10deg);
        height: 70px;
        width: 70px;
    }

}
/* BUTTONS */

.hidden {
    display: none;
}

#StartBtn {
    position: absolute;
    top: 50px;
    left: 300px;
}

#peekBtn {
    position: absolute;
    top: 50px;
    left: 400px;
}

#donkeyEntersBtn {
    position: absolute;
    top: 50px;
    left: 500px;
}

#enemiesBtn {
    position: absolute;
    top: 50px;
    left: 400px;
}

#friendsBtn {
    position: absolute;
    top: 50px;
    left: 500px;
}


/* SHREK COMES IN */

.shrekrotate {
    animation: srotate 0.7s forwards;
}

@keyframes srotate {
    20%,
    60%,
    80% {
        transform: rotate(-5deg);
    }
    40%,
    80%,
    90% {
        transform: rotate(5deg);
    }
}

.shrekMove {
    animation: moveingto 2s forwards;
}

@keyframes moveingto {
    100% {
        transform: translate(600px);
    }
}


/*2A DONKEY PEEKS IN/OUT*/

.donkeyPeek {
    animation: peek 2s alternate;
}

@keyframes peek {
    50% {
        transform: translate(5%) rotate(35deg);
    }
}


/*2B SHREK MIRRORS*/

.shrekMirror {
    animation: mirror 1s forwards;
}

@keyframes mirror {
    50% {
        transform: scale(-1, 1);
    }
}


/* MEET THE DONKEY*/

.donkeyEnters {
    animation: moveSingsMove 2.8s forwards;
}

@keyframes moveSingsMove {
    0% {
        transform: translate(-100px);
    }
    100% {
        transform: translate(250px);
    }
}

.shrekTurns {
    animation: mirror 1s forwards;
}

@keyframes mirror {
    100% {
        transform: scale(-1, 1);
    }
}


/*apple disappear*/

.appleDisappear{
    animation: appleGone 1s forwards;
}

@keyframes appleGone {

    to{
        opacity: 0;
    }
}

/*FRIENDSa Shrek and Donkey jump*/



.friendJump {
    animation: friendjump .3s ease-out;
}

@keyframes friendjump {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 70px;
    }
    90% {
        bottom: -30px;
    }
}


/*FRIENDS b  Shrek and Donkey leave to the right*/



.friendsLeave {
    animation: friendsLeave 3.5s forwards;
}

@keyframes friendsLeave {
    100% {
        transform: translate(600px);
    }
}



/*Enemies: Shrek kicks Donkey , Donkey rolles away*/



.shrekKick {
    animation: kick .3s;
}

@keyframes kick {
    50% {
        transform: rotate(-15deg) scale(-1,1);
    }
}

.donkeyRoll {
    animation: roll 2s forwards;
}

@keyframes roll {
    100% {
        transform: translate(-800px) rotate(600deg);
    }
}

.shrekgoaway{
    animation: goaway 2s forwards;
}
@keyframes goaway{
    to{
        transform: translate(800px);
    }
}

