/*BACKGROUND PICTURE*/

#forest {
    background-image: url("img/forest.jpg");
    width: 800px;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}


/* SHREK */

#shrek {
    height: 300px;
    position: absolute;
    bottom: 0;
    left: -200px;
}


/* DONKEY */

#donkey {
    height: 300px;
    position: absolute;
    bottom: 0;
    transform: translate(-200px);
}


/* BUTTONS */

.hidden {
    display: none;
}

#StartBtn {
    position: absolute;
    top: 50px;
    left: 300px;
}

#peekBtn {
    position: absolute;
    top: 50px;
    left: 400px;
}

#donkeyEntersBtn {
    position: absolute;
    top: 50px;
    left: 500px;
}

#enemiesBtn {
    position: absolute;
    top: 50px;
    left: 400px;
}

#friendsBtn {
    position: absolute;
    top: 50px;
    left: 500px;
}


/* SHREK COMES IN */

.shrekrotate {
    animation: srotate 0.7s forwards;
}

@keyframes srotate {
    20%,
    60%,
    80% {
        transform: rotate(-5deg);
    }
    40%,
    80%,
    90% {
        transform: rotate(5deg);
    }
}

.shrekMove {
    animation: moveingto 2s forwards;
}

@keyframes moveingto {
    100% {
        transform: translate(600px);
    }
}


/*2A DONKEY PEEKS IN/OUT*/

.donkeyPeek {
    animation: peek 2s alternate;
}

@keyframes peek {
    50% {
        transform: translate(5%) rotate(35deg);
    }
}


/*2B SHREK MIRRORS*/

.shrekMirror {
    animation: mirror 1s forwards;
}

@keyframes mirror {
    50% {
        transform: scale(-1, 1);
    }
}


/* MEET THE DONKEY*/

.donkeyEnters {
    animation: moveSingsMove 2.8s forwards;
}

@keyframes moveSingsMove {
    0% {
        transform: translate(-100px);
    }
    100% {
        transform: translate(250px);
    }
}

.shrekTurns {
    animation: mirror 1s forwards;
}

@keyframes mirror {
    100% {
        transform: scale(-1, 1);
    }
}


/*3 DONKEY JUMPS IN*/


/*FRIENDSa Shrek and Donkey jump*/



.friendJump {
    animation: friendjump .3s ease-out;
}

@keyframes friendjump {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 70px;
    }
    90% {
        bottom: -30px;
    }
}


/*FRIENDS b  Shrek and Donkey leave to the right*/



.friendsLeave {
    animation: friendsLeave 3.5s forwards;
}

@keyframes friendsLeave {
    100% {
        transform: translate(600px);
    }
}



/*Enemies: Shrek kicks Donkey , Donkey rolles away*/



.shrekKick {
    animation: kick 0.3s;
}

@keyframes kick {
    50% {
        transform: rotate(-15deg);
    }
}

.donkeyRoll {
    animation: roll 1s;
}

@keyframes roll {
    100% {
        transform: translate(-200px) rotate(600deg);
    }
}

