/*BACKGROUND PICTURE*/

#forest {
    background-image: ;
    width: 100%;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}


/*SHREK IMAGE*/

#shrek {
    height: 300px;
    position: absolute;
    bottom: 0;
}


/*DONKEY IMAGE*/

#donkey {
    height: 300px;
    position: absolute;
    bottom: 0;
}


/*1 SHREK COMES IN */

.shrekMove {
    animation: moveingto 2s;
}

@keyframes moveingto {
    0% {
        transform: translate(-200px);
    }
    100% {
        transform: translate(80%);
    }
}


/*2a DONKEY PEEKS IN/OUT*/

.donkeyPeek {
    animation: peek 2s;
}

@keyframes peek {
    0% {
        transform: translate(-5%);
    }
    35% {
        transform: translate(5%) rotate(5%);
    }
    50% {
        transform: translate(10%) rotate(10%);
    }
    100% {
        transform: translate(-5%);
    }
}


/*2b SHREK MIRRORS*/

.shrekMirror {
    transform: scale(-1, 1);
}


/*3 DONKEY JUMPS IN*/


/*FRIENDSa Shrek and Donkey jump*/

.friendJump {
    animation: friendjump .3s ease-out;
}

@keyframes friendjump {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 70px;
    }
    90% {
        bottom: -30px;
    }
}


/*FRIENDS b  Shrek and Donkey leave to the right*/

.friendsLeave {
    animation: friendsLeave 2s forwards;
}

@keyframes friendsLeave {
    100% {
        transform: translate(800px);
    }
}


/*FOES: Shrek kicks Donkey , Donkey rolles away*/

.shrekKick {
    animation: kick 0.3s;
}

@keyframes kick {
    50% {
        transform: rotate(-15deg);
    }
}

.donkeyRoll {
    animation: roll 1s;
}

@keyframes roll {
    100% {
        transform: translate(-200px) rotate(600deg);
    }
}
